<div class="col-md-12">
  <div class="col-md-3">
      {{categoria.id}}
  </div>
  <div class="col-md-6">
      {{categoria.descricao}}
  </div>
  <div class="col-md-3">
      {{categoria.status}}
  </div>
</div>

<!-- 
 <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Descrição</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> {{categoria.id}} </td>
        <td> {{categoria.descricao}} </td>
        <td> {{categoria.status}} </td>
      </tr>
    </tbody>
  </table> -->